html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1;}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}li{list-style:none}table{width:100%;line-height:1.5em;border-collapse:collapse;border-spacing:0}
.clearfix:after, .container:after{content:".";display:block;height:0;clear:both;visibility:hidden;max-height:0;}
.clearfix, .container{display:inline-block;}
* html .clearfix, * html .container{height:1%;}
.clearfix, .container{display:block;}
.clearer{background:none;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}
.clear{clear:both;}
html{color:#4d4f4f;font-size:12px;font-family:"Microsoft JhengHei","Microsoft YaHei",Helvetica, Arial,sans-serif;text-align:left;background:#fff;}
strong, th, thead td, h1, h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:1.9em;}h2{font-size:1.7em;}h3{font-size:1.5em;}h4{font-size:1.3em;}h5{font-size:1.2em;}h6{font-size:1em;}
cite, em, dfn{ font-style: normal;}
code, kbd, samp, pre, tt, var, button, input, select, textarea{font-family:"Microsoft JhengHei","Microsoft YaHei",Helvetica, Arial,sans-serif;font-size:92%;}
a:link{color:#4d4f4f;text-decoration:none;outline:none;}
a:visited{color:#4d4f4f;text-decoration:none;outline:none;}
a:hover{color:#d33432;text-decoration:underline;}
a:active{opacity:0.5;}
hr{background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:.5em 0;border:none;}
hr.space{background:#fff;color:#fff;}
table{border-top:1px solid #ccc;border-left:1px solid #ccc;}
th, td{padding:5px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;vertical-align:top;}
th{font-weight:bold;text-align:left;background:#eee;}
textarea, input[type='text'], input[type='password']{padding:3px;border-width:1px;border-style:solid;border-color:#bbb #ddd #ddd #bbb;background:#fff;}
textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover{ border-color: #aaa;}
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus{ border-color: #888;outline: 2px solid #ffffaa;}
input, select{cursor:pointer;}select{padding:3px;border-width:1px;border-style:solid;border-color:#bbb #ddd #ddd #bbb;background:#fff;}input[type='text'],input[type='password']{cursor:text;}label{cursor:pointer;}
.button, button{display:inline-block;margin-right:8px;padding:3px 10px;border:1px solid #bbb;border-top:1px solid #eee;border-left:1px solid #eee;background-color:#ddd;font-size:100%;line-height:130%;text-decoration:none;font-weight:bold;color:#565656;cursor:pointer;text-shadow:0 1px 1px #999;}
	button{width:auto;overflow:visible;padding:4px 10px 3px 7px;}
	button[type]{padding:4px 10px 4px 7px;line-height:17px;}
	*:first-child+html .container button[type]{padding:4px 10px 3px 7px;}
	button img, .button img{margin:0 3px -3px 0 !important;padding:0;border:none;width:16px;height:16px;float:none;}
	button:hover, .button:hover{background-color:#dff4ff;border:1px solid #c2e1ef;color:#336699;}
	.button:active, button:active{background-color:#6299c5;border:1px solid #6299c5;color:#fff;}
	body .positive{color:#d12f19;}
	.positive:hover, button.positive:hover{background:#fbe3e4;border:1px solid #fbc2c4;color:#d12f19;}
	.positive:active, button.positive:active{background-color:#d12f19;border:1px solid #d12f19;color:#fff;}
	body .negative{color:#529214;}
	.negative:hover, button.negative:hover{background-color:#E6EFC2;border:1px solid #C6D880;color:#529214;}
	.negative:active, button.negative:active{background-color:#529214;border:1px solid #529214;color:#fff;}
.price{color:#d33432;}
.price.market{color:#027b98;text-decoration:line-through;}
.error, .notice, .success{padding:10px;margin-bottom:10px;border:2px solid #ddd;line-height:1.2em;}
	.error{background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
	.notice{background:#FFF6BF;color:#514721;border-color:#FFD324;}
	.success{background:#E6EFC2;color:#264409;border-color:#C6D880;}
	.error a{color:#8a1f11;}
	.notice a{color:#514721;}
	.success a{color:#264409;}
.center{text-align:center;}
input.captcha{text-transform:uppercase;width:4em;}
img.captcha{margin:2px 0 0 5px}

.data-table{border:1px solid #bebcb7;}
	.data-table tr{background-color:#fff;}
	.data-table .odd{background-color:#fefefe}
	.data-table .even{background-color:#f6f6f6 !important;}
	.data-table td.last, .data-table th.last{border-right:1px solid #bebcb7;}
	.data-table tr.last th, .data-table tr.last td{border-bottom:1px solid #bebcb7 !important;}
	.data-table th{padding:5px 10px;color:#444;white-space:nowrap;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
	.data-table th.wrap{white-space:normal;}
	.data-table th a, .data-table th a:hover{color:#fff;}
	.data-table td{padding:5px 10px;}
	.data-table thead th{background-color:#eee;}
	.data-table thead th.none{background-color:#f6f6f6;}
	.data-table tfoot tr{background-color:#e8e8e8 !important;}
	.data-table tfoot td{padding-top:1px;padding-top:5px;padding-bottom:5px;border-bottom:0;border-right:1px solid #d9dde3;}
	.data-table tfoot td.last{border-right-width:0;}
	.data-table tbody td{border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
	.data-table tbody th{background-color:#eee;}
	.data-table tbody.odd tr{background-color:#f8f7f5 !important;}
	.data-table tbody.even tr{background-color:#f6f6f6 !important;}
	.data-table tbody.odd tr td, .data-table tbody.even tr td{border-bottom:0;}
	.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td{border-bottom:1px solid #d9dde3;}
	.data-table tbody td h5.title{margin:0;padding:0;color:#2f2f2f;font-size:1em;font-weight:bold;}
	.data-table tbody td .option-label{font-weight:bold;font-style:italic;}
	.data-table tbody td .option-value{padding-left:10px;}

dl.table{padding:3px;line-height:20px;background:#fff;border:1px solid #ccc;}
	dl.table dt{margin-bottom:-25px;padding-left:6px;font-weight:bold;line-height:25px;}
	dl.table dt.title{margin-bottom:3px;color:#444;background-color:#ddd;}
	dl.table dd{padding:3px 6px 3px 125px;line-height:19px;background-color:#f6f6f6;}
	dl.table dd.even{background-color:transparent;}
	dl.table dt.head{color:#4d4f4f;}
	dl.table dd.head{margin-bottom:3px;font-weight:bold;background-color:transparent;border-bottom:1px dashed #ccc;}
	dl.table dd:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
	dl.table dd{display:inline-block}* html dl.table dd{height:1%}dl.table dd{display:block}
	dl.table.col4 .col{display:inline-block;width:180px;}

dl.text-list{padding:3px;line-height:20px;background:#fff;border:1px solid #ccc;}
	dl.text-list dt{margin-bottom:-25px;padding-left:6px;color:#027b98;font-weight:bold;line-height:25px;}
	dl.text-list dt.title{margin-bottom:3px;color:#fff;background-color:#027b98;}
	dl.text-list dd{padding:3px 6px 3px 114px;line-height:19px;border-top:1px dashed #999;}
	dl.text-list dd:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
	dl.text-list dd{display:inline-block}* html dl.table dd{height:1%}dl.text-list dd{display:block}
	dl.text-list dd.first{border-top-width:0;}
	dl.text-list em, dl.text-list a{padding:0 3px;color:#027b98;font-weight:bold;}

ul.text-list li{border-top:1px dashed #aaa;padding:5px 0;}
ul.text-list li.first{border-top-width:0;}
ul.text-list li .type a{padding-right:5px;color:#027b98;font-weight:bold;}
ul.text-list li .end{padding-left:10px;color:#d33432;font-weight:bold;}

.form{width:100%;padding:.5em 0;background-color:#f6f6f6;border-top:1px solid #d7d7d7;position:relative}
	.form fieldset{width:auto;margin:0 1em}
	.form h4{margin:0 0 .6em;color:#d33432;font-size:18px;font-weight:bold;line-height:22px;text-shadow:0 1px 1px #ccc;}
	.form label, .form .label{float:left;display:block;padding:5px 0;width:100%;border-top:1px solid #fff}
	.form label input, .form .label input, .form label textarea, .form .label textarea, .form label select, .form .label select{float:left;margin-left:10px}
	.form label .directions{float:left;display:inline-block;width:40em;clear:both;margin-left:8em;padding-left:10px;padding-top:5px;}
	.form label .to{float:left;display:block;padding:5px 0 0 10px;}
	.form label b, .form .label b{float:left;width:8em;line-height:1.7;display:block;position:relative}
	.form .label em, .form label em{float:left;margin-left:10px;padding:5px 0}
	.form label b .req{color:#d33432;font-size:150%;font-weight:normal;position:absolute;top:-.1em;line-height:1;left:-.4em;width:.3em;height:.3em}
	.form div.req{color:#666;font-size:96%;font-weight:normal;position:absolute;top:.4em;right:1em;left:auto;width:13em;text-align:right}
	.form div.req b{color:#d33432;font-size:140%}
	.form label select{width:15.5em}
	.form label textarea{width:450px}
	.form div.submit-wrap{float:left;padding:5px 0 5px 8em}
	.form input.submit{margin:0 5px 0 10px}
	.form fieldset.checkbox-wrap, .form fieldset.radio-wrap{margin:0;}
	.form fieldset.checkbox-wrap fieldset, .form fieldset.radio-wrap fieldset{float:left;width:auto;margin-left:10px}
	.form fieldset.checkbox-wrap label, .form fieldset.radio-wrap label{float:left;width:auto;border:none;margin:0;padding:4px 0;margin-right:15px}
	.form label input.checkbox, .form label input.radio{width:auto;float:none;margin:0;margin-right:3px}

.empty{display:block;padding:50px 0;color:#027b98;font-size:1.5em;font-weight:bold;text-align:center;}

.btn-hg{display:inline-block;height:44px;padding-left:30px;color:#333 !important;line-height:42px;font-size:20px;font-weight:bold;text-decoration:none;text-shadow:1px 1px 0 #aae2ef;background:#50b9d1 url(../img/btn-hg.gif) no-repeat left top;}
input.btn-hg{width:154px;padding-left:0;border-width:0;}
.btn-hg:hover{color:#d33432 !important;}
.btn-hg span{display:inline-block;height:44px;padding-right:25px;background:url(../img/btn-hg.gif) no-repeat right top;cursor:pointer;}

.btn-md{display:inline-block;width:88px;height:37px;color:#333 !important;line-height:34px;font-size:19px;font-weight:bold;text-align:center;text-decoration:none;text-shadow:1px 1px 0 #aae2ef;background:url(../img/btn-bg.png) no-repeat left top;border-width:0;}
.btn-md:hover{color:#d33432 !important;}

.btn-sm{display:inline-block;height:32px;padding-left:20px;color:#333 !important;line-height:28px;font-size:14px;font-weight:bold;text-decoration:none;text-shadow:1px 1px 0 #ccc;background:url(../img/btn-bg.png) no-repeat left -40px;vertical-align:middle;}
input.btn-sm{width:113px;padding-left:0;background-position:left -80px;border-width:0;}
.btn-sm:hover{color:#d33432 !important;}
.btn-sm span{display:inline-block;height:32px;padding-right:20px;background:url(../img/btn-bg.png) no-repeat right -40px;cursor:pointer;}
.btn-xs{display:inline-block;height:32px;width:71px;color:#333 !important;line-height:28px;font-size:14px;font-weight:bold;text-decoration:none;text-shadow:1px 1px 0 #ccc;background:url(../img/btn-bg.png) no-repeat 0 -120px;border-width:0;vertical-align:middle;}
.btn-xs:hover{color:#d33432 !important;}
.btn-rt{padding:0 10px 0 5px;font-size:14px;font-weight:bold;vertical-align:text-top;background:url(../img/icon.gif) no-repeat right -144px;}
.link-et{padding-right:10px;font-size:14px;font-weight:bold;vertical-align:text-top;background:url(../img/icon.gif) no-repeat right -144px;}
#loader{background:#dae6ec;border:1px solid #027b98;position:fixed;color:#027b98;z-index:1000;left:0;bottom:0;padding:5px 15px;opacity:0.8;}
#compareBox{width:150px;background:#eee;padding:10px;border:2px solid #ccc;position:absolute;right:10px;top:200px;opacity:0.8;}
#compareBox input{width:120px;margin-top:5px;padding:3px;color:#fff;background:#027b98;border-width:0;}
#compareList{width:150px;margin:0px;padding:0px;}
#compareList li{padding:5px;margin-bottom:5px;text-align:left;background:#fff;border:1px solid #999;}
#compareList li span{line-height:20px;}
#compareList li img{float:right;padding-top:4px;cursor:pointer;}
.compare .name{color:#027b98;font-size:1.2em;}
.messagediv{position:absolute;padding:10px;text-align:center;background-color:#fcf2cf;border:1px solid #c30806;opacity: 0.8;}
.messageli{padding:5px;color:#c30806;}
.container{width:950px;margin:0px auto;padding:0 20px;clear:both;}
#content{padding:15px 0 20px;background:#fff;}
.col-main, .col-sub, .col-extra{display:inline;float:left;overflow-x:auto;overflow-y:hidden;}
.col-main{width:750px;}
#hp .col-main{width:530px;margin-left:200px;}
.col-sub{margin-left:10px;width:190px;}
#hp .col-sub{margin-left:-730px;}
.col-extra{float:left;margin-left:10px;width:210px;}

.box{margin-bottom:10px;position:relative;}
.box .hd{height:30px;line-height:30px;background-color:#eceded;border-color:#d5d6d7;border-style:solid;border-width:1px 1px 0;}
.box .hd h3{padding:0 10px;font-size:14px;font-weight:bold;text-shadow:0 1px 1px #ccc;}
.box .bd{padding:10px;background-color:#fff;border:1px solid #d5d6d7;}
.box .tp, .box .bt{display:block;height:5px;overflow:hidden;position:relative;}
.box .tp b, .box .bt b{float:right;height:5px;width:5px;}
.box .tp{margin-bottom:-5px;}
.box .bt{margin-top:-5px;}
.bd:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.bd{display:inline-block}* html .bd{height:1%}.bd{display:block}
.box .tp, .box .tp b, .box .bt, .box .bt b, .box .hd h3{background:url(../img/box-bg.gif) no-repeat -999em 0;}
.box .tp{background-position:-5px -20px;}
.box .tp b{background-position:0 -20px;}
.box .bt{background-position:-5px -5px;}
.box .bt b{background-position:0 -5px;}
.box .hd h3{background-position:0 -25px;background-repeat:repeat-x;}

.box .hd .more{position:absolute;top:2px;right:10px;}
.box .hd .mode{height:20px;width:232px;overflow:hidden;position:absolute;top:8px;right:5px;}
.mode p, .mode em, .mode a{display:block;float:left;line-height:20px;}
.mode .display{margin-right:10px;}
.mode em{color:#333;font-weight:bold;}
.mode a{height:40px;width:20px;margin-right:3px;text-indent:-999em;background:url(../img/mode-bg.gif) no-repeat left top;}
.mode .dp-list{background-position:0 0;}
.mode .dp-grid{background-position:-20px 0;}
.mode .od-time-d{background-position:-40px 0;}
.mode .od-time-a{background-position:-60px 0;}
.mode .od-price-d{background-position:-100px 0;}
.mode .od-price-a{background-position:-80px 0;}
.mode a:hover, .mode .current{margin-top:-20px;}

.box-blue .bd{border-color:#64c9e0;}
.box-blue .tp{background-position:-5px -55px;}
.box-blue .tp b{background-position:0 -55px;}
.box-blue .bt{background-position:-5px -15px;}
.box-blue .bt b{background-position:0 -15px;}
.box-blue .hd{line-height:28px;background-color:#81dbf0;border-color:#64c9e0;}
.box-blue .hd h3{color:#fff;text-shadow:0 1px 1px #027b98;background-position:0 -60px;border-color:#bbe9f4;border-style:solid;border-width:1px 1px 0;}

.box-gbg{}
.box-gbg .bd{padding:0;}
.box-gbg .bd .body{padding:5px;background-color:#eee;border:1px solid #fdfdfd;}
.box-gbg .tp{background-position:-5px -90px;}
.box-gbg .tp b{background-position:0 -90px;}
.box-gbg .bt{background-position:-5px -95px;}
.box-gbg .bt b{background-position:0 -95px;}

.index-ad{width:530px;height:120px;margin-bottom:10px;}

.updates-wrapper{clear:both;padding:10px;border:1px solid #ccc;background-color:#eee;}
.updates-wrapper span a:link, .updates-wrapper span a:visited{color:#027b98;font-weight:bold;padding:0 3px;}
.updates-wrapper span.h2bg a:link, .updates-wrapper span.h2bg a:visited{color:#666;font-weight:normal;}


.photo, .cover{background:url(../img/loading.gif) no-repeat center center;}

.goods-list li{display:block;float:left;background-color:#fff;position:relative;}
.goods-list li:hover{background-color:#fffce7;}
.goods-list li.hover{background-color:#fffce7;}
.goods-list .photo{display:block;background-color:#fff;border:1px solid #e7e7e7;}
.goods-list .photo img{vertical-align:top;}
.goods-list .action{display:none;opacity:0;position:absolute;}
.goods-list li.hover .action{display:block;}
.goods-list li:hover .photo{border:1px solid #b0b7ba;}
.goods-list .name{display:block;}
.goods-list .price{display:block;font-weight:bold;}

.col-main .goods-list{float:left;padding:5px 0 0 3px;}
.col-main .goods-list li{width:156px;padding:12px;}
.col-main .goods-list li.first-child{clear:left;}
.col-main .goods-list .photo{width:150px;height:150px;padding:2px;}
.col-main .goods-list .photo img{width:150px;height:150px;}
.col-main .goods-list .name{padding:5px 0;line-height:18px;font-size:14px;}
.col-main .goods-list .price{padding:3px 0;font-size:14px;}
.col-main .goods-list .promote{padding-left:12px;background:url(../img/icon-sale.gif) no-repeat left center;}
.col-main .goods-list .action{height:143px;width:156px;padding-top:13px;top:12px;right:12px;background:url(../img/item-hover-bg.png) no-repeat left top;}
.col-main .goods-list .action a{display:block;height:30px;width:110px;margin:10px auto 0;text-indent:-999em;background-image:url(../img/item-action-bg.png);}
.col-main .goods-list .action a.detail{background-position:0 0;}
.col-main .goods-list .action a.buy{background-position:0 -30px;}
.col-main .goods-list .action a.collect{background-position:0 -60px;}
.col-main .goods-list .action a.detail:hover{background-position:-110px 0;}
.col-main .goods-list .action a.buy:hover{background-position:-110px -30px;}
.col-main .goods-list .action a.collect:hover{background-position:-110px -60px;}

.display-list li{width:156px;padding:12px;}
.display-list li.first-child{clear:left;}
.display-list .photo{width:150px;height:150px;padding:2px;}
.display-list .photo img{width:150px;height:150px;}
.display-list .name{padding:5px 0;line-height:18px;font-size:14px;}
.display-list .price{padding:3px 0;font-size:14px;}
.display-list .action{height:143px;width:156px;padding-top:13px;top:12px;right:12px;background:transparent url(../img/item-hover-bg.png) no-repeat left top;}
.display-list .action a{display:block;height:30px;width:110px;margin:10px auto 0;text-indent:-999em;background-image:url(../img/item-action-bg.png);}
.display-list .action a.detail{background-position:0 0;}
.display-list .action a.buy{background-position:0 -30px;}
.display-list .action a.collect{background-position:0 -60px;}
.display-list .action a.detail:hover{background-position:-110px 0;}
.display-list .action a.buy:hover{background-position:-110px -30px;}
.display-list .action a.collect:hover{background-position:-110px -60px;}

.col-main .display-grid{padding:5px 0 0 8px;}
.col-main .display-grid li{width:212px;}
.col-main .display-grid .photo{width:200px;height:200px;padding:5px;}
.col-main .display-grid .photo img{width:200px;height:200px;}
.col-main .display-grid .action{height:162px;width:212px;padding-top:50px;top:12px;right:12px;background:transparent url(../img/item-hover-bg-big.png) no-repeat left top;}

.col-main .display-text{width:720px;padding-bottom:7px;}
.col-main .display-text li{width:710px;height:30px;overflow:hidden;margin:0;padding:5px;line-height:25px;border-top:1px dashed #999;}
.col-main .display-text li.first{border-top-width:0;}
.col-main .display-text li .name{float:left;width:610px;font-weight:bold;}
.col-main .display-text li .price{float:left;width:100px;padding:0;}
.col-main .display-text li .action{height:30px;width:360px;padding:0;position:absolute;top:4px;right:0;background:#fffce7;overflow:hidden;}
.col-main .display-text li .action a{float:left;margin:0 10px 0 0;}

#hp .col-main .goods-list{min-height:216px;padding:0 0 5px 1px;}
#hp .col-main .goods-list li{width:156px;padding:6px;}
#hp .col-main .goods-list .action{top:6px;right:6px;}

.col-sub .goods-list li{display:inline-block;float:none;width:100%;margin-bottom:5px;}
.col-sub .goods-list .photo{float:left;width:50px;height:50px;padding:1px;}
.col-sub .goods-list .photo img{width:50px;height:50px;}
.col-sub .goods-list .info{display:block;float:left;width:103px;padding:5px;}
.col-sub .goods-list .name{line-height:14px;margin-bottom:3px;}
.col-sub .goods-list .action{height:30px;width:110px;padding:0;background-image:none;top:12px;right:2px;}
.col-sub .goods-list .action a{display:none;}
.col-sub .goods-list .action a.detail{display:block;height:30px;width:110px;text-indent:-999em;background:url(../img/item-action-bg.png) no-repeat 0 0;}
.col-sub .goods-list .action a.detail:hover{background-position:-110px 0;}

.col-extra .goods-list li{display:inline-block;float:none;width:100%;margin-bottom:5px;}
.col-extra .goods-list .photo{float:left;width:50px;height:50px;padding:1px;}
.col-extra .goods-list .photo img{width:50px;height:50px;}
.col-extra .goods-list .info{display:block;float:left;width:123px;padding:5px;}
.col-extra .goods-list .name{line-height:14px;margin-bottom:3px;}
.col-extra .goods-list .action{height:30px;width:110px;padding:0;background-image:none;top:12px;right:10px;}
.col-extra .goods-list .action a{display:none;}
.col-extra .goods-list .action a.detail{display:block;height:30px;width:110px;text-indent:-999em;background:url(../img/item-action-bg.png) no-repeat 0 0;}
.col-extra .goods-list .action a.detail:hover{background-position:-110px 0;}

.filter dl{border-top:1px dashed #999;padding:5px 0;line-height:18px;}
.filter dl.first{border-top-width:0}
.filter dt{float:left;width:100px;padding:5px 0;font-weight:bold;text-align:right;}
.filter dd{padding:3px 10px 3px 100px;}
.filter dd a{display:inline-block;margin-right:15px;padding:2px 3px;white-space:nowrap;}
.filter dd a.all{color:#fff;font-weight:bold;background-color:#ccc;}
.filter dd a.selected{color:#fff;font-weight:bold;background-color:#d33432;}

/* =pagination */
.breadcrumbs{margin-top:-5px;padding-bottom:10px;padding-left:10px;font-weight:bold;position:relative;}
.breadcrumbs a:link, .breadcrumbs a:visited{font-weight:normal;text-decoration:underline;}
.pagination{padding:10px 0 5px;font-size:13px;font-weight:bold;text-align:right;clear:both;}
.pagination a{color:#d33432;margin-left:3px;padding:2px 5px;background-color:#fff;border:1px solid #ccc;}
.pagination a:hover{color:#fff;background-color:#d33432;}
.pagination a.current{color:#fff;background-color:#999;border:1px solid #999;}
.pagination a.current:hover{color:#d33432;}
.pagination span{padding:3px 6px;}
.pagination .total{color:#333;}


/* =goods */
.goods-intro .bd{padding:20px;}
.goods-intro h1{padding:5px 0 10px;color:#d33432;font-size:20px;font-weight:bold;border-bottom:1px dashed #999;}
.goods-intro h1 em{padding-left:10px;color:#666;font-size:12px;font-weight:normal;vertical-align:middle;}
.goods-intro .free-shipping{padding:10px 0 5px;color:#027b98;font-size:14px;font-weight:bold;text-align:center;}
.goods-intro .info{float:right;width:430px;margin-top:10px;position:relative;}
.goods-intro .extra{float:left;width:275px;margin-top:10px;}
.goods-intro .sale-box{width:180px;padding:5px;line-height:20px;border:2px solid #d5d6d7;background-color:#fafafa;position:absolute;top:-7px;right:0;}
.goods-intro .sale-box .price{font-size:16px;font-weight:bold;}
.goods-intro .sale-box .left-time{color:#027b98;font-weight:bold;}
.goods-intro .info .table{margin-top:10px;}
.goods-intro .info .basic dt{margin-bottom:-25px;padding-left:10px;font-weight:bold;line-height:25px;}
.goods-intro .info .basic dd{padding-left:130px;line-height:25px;}
.goods-intro .info .basic dd.first{border-top-width:0;}
.goods-intro .info .basic a{text-decoration:underline;}
.goods-intro .info .basic .price.shop{font-size:18px;font-weight:bold;}
.goods-intro .info .basic .discount{color:#d33432;font-size:14px;font-weight:bold;}

.goods-intro dl.spec{border:1px solid #999;}
.goods-intro dl.spec dt{margin-top:3px;padding-top:3px;border-top:1px dashed #ccc;}
.goods-intro dl.spec dt.first{margin-top:0;padding-top:0;border-top-width:0;}

.goods-intro .info .action{margin-top:10px;padding:10px;line-height:25px;border-top:1px solid #ccc;}
.goods-intro .info .action b{display:inline-block;width:120px;}
.goods-intro .info .action input{margin-right:3px;}
.goods-intro .info .action .title{color:#027b98;font-size:1.5em;font-weight:bold;}
.goods-intro .info .action .stock{padding-left:5px;color:#999;}
.goods-intro .info .action .amount{font-size:14px;}
.goods-intro .info .action .submit{margin-top:5px;margin-left:120px;}
.goods-intro .info .action .btn-hg span{padding-right:30px;}

.gallery{float:left;margin-bottom:10px;}
.gallery .cover{display:block;width:265px;height:265px;}
.gallery .cover img{width:265px;height:265px;}
.gallery .thumb a{display:inline-block;float:left;margin:5px 5px 0 0;padding:1px;border:1px solid #ddd;}
.gallery .thumb a:hover{border:1px solid #666;background-color:#ccc;}
.gallery .thumb img{height:45px;width:45px;font-size:1px;}

.extra-at{width:267px;padding:20px 0;clear:both;text-align:center;}
.extra-at a{margin-right:5px;padding-right:10px;font-size:14px;font-weight:bold;background:url(../img/icon.gif) no-repeat right -144px;}
.goods-intro .promote-box{margin-bottom:10px;font-size:14px;font-weight:bold;line-height:25px;}
.goods-intro .promote-box em{color:#027b98;font-size:20px;font-weight:bold;}
.goods-intro .promote-box .price{font-size:22px;font-weight:bold;}
.goods-intro .promotion-box{width:243px;padding:10px;margin-bottom:10px;line-height:20px;border:2px solid #d5d6d7;background-color:#fafafa;}
.goods-intro .promotion-box dt{padding-bottom:5px;font-size:14px;font-weight:bold;}
.goods-intro .tag-box{width:243px;padding:10px;margin-bottom:10px;line-height:20px;border:2px solid #d5d6d7;background-color:#fafafa;}
.goods-intro .tag-box .title{font-size:14px;font-weight:bold;}
.goods-intro .tag-box .tags{padding:5px 0;line-height:18px;}
.goods-intro .tag-box a{padding-right:5px;}
#tag{width:165px;}

.package-goods dl{border-top:1px dashed #999;padding:5px 0;line-height:25px;}
.package-goods dl.first{border-top-width:0;}
.package-goods dt{color:#027b98;font-size:16px;font-weight:bold;}
.package-goods .item-area{padding:5px 0;line-height:18px;border-bottom:1px solid #ccc;}
.package-goods .item-area span{padding-right:15px;}
.package-goods .item-area em{padding-left:5px;color:#d33432;font-size:16px;font-weight:bold;}
.package-goods .price-area{line-height:25px;}
.package-goods .price-area span{padding-right:15px;}
.package-goods .price-area .shop{font-size:20px;font-weight:bold;}
.package-goods .action{padding-bottom:12px;text-align:right;margin-top:-23px;}

.goods-desc .text h1,.goods-desc .text h2,.goods-desc .text h3{line-height:1.4em;}
.goods-desc .text{display:block;width:718px;padding:5px;font-size:1.2em;line-height:1.4em;overflow:hidden;}
.goods-desc .text img{max-width:710px;height:auto !important;}
.goods-desc .secondly{padding-top:15px;}
.goods-desc .time em{padding:0 5px;color:#027b98;font-size:1.2em;font-weight:bold;}
.goods-desc .price{font-size:1.3em;}

.comment-list li{padding:5px 0;float:left;width:100%}
.comment-list li.odd{background-color:#f6f6f6;}
.comment-list li .info{float:left;padding:0 10px;width:140px;}
.comment-list li .info span{display:block;}
.comment-list li .info .name{color:#027b98;font-size:1.2em;font-weight:bold;padding:5px 0;}
.comment-list li .info .drop{color:#d33432;font-size:1.2em;font-weight:bold;padding:5px 0;}
.comment-list li .talk{float:left;padding:0 10px;width:540px;font-size:14px;line-height:1.3em;}
.comment-list li .talk .title{padding:5px 0;font-size:1.2em;font-weight:bold;}
.comment-list li .talk .type{padding-right:5px;}
.comment-list li .talk .text{display:block;padding:5px 0;}
.comment-list li .talk .reply{background-color:#fefee2;padding:10px;margin:0 0 5px 50px;}
.comment-list li .talk .reply p{padding:5px 0;}
.comment-list li .talk .reply .name{color:#d33432;font-weight:bold;}
.comment-box .pagination{margin-bottom:20px;}

/* =message */
.message{padding:30px 50px;font-size:1.2em;background:#fafafa;border:1px solid #d5d6d7;}
.message dt{padding:5px 0 15px;color:#d33432;font-size:1.3em;font-weight:bold;border-bottom:1px dashed #d5d6d7;}
.message dt.title{text-shadow:0 1px 1px #999;}
.message dt em{padding-left:5px;color:#d33432;}
.message dd{padding:5px 0;}
.message dd p{line-height:1.5em;}
.message dd p a{padding-right:10px;background:url(../img/icon.gif) no-repeat right -144px;}
.message dd em{color:#d33432;}
.message .pay-online{margin:10px;text-align:center;}
.message .virtual-card .table{margin-top:10px;}
.message .virtual-card .table.first{margin-top:0;}
.message dl.table{padding:3px;line-height:20px;background:#fff;border:1px solid #ccc;}
.message dl.table dt{margin-bottom:-25px;padding:0 0 0 6px;color:#4d4f4f;font-size:1em;line-height:25px;}
.message dl.table dt.title{margin-bottom:3px;color:#0a263c;}
.message dl.table dd{padding:3px 6px 3px 114px;line-height:19px;background-color:#eee;}
.message dl.table dd.even{background-color:transparent;}

/* =groupBuy */
.group-buy-list .item{float:left;width:100%;padding:10px 0;border-top:1px dashed #999;}
.group-buy-list .item.first{border-top-width:0;}
.group-buy-list .item .photo{display:block;float:left;width:150px;padding:0 10px;}
.group-buy-list .item .photo img{width:150px;height:150px;}
.group-buy-list .item .info{float:left;width:540px;margin-left:10px;}
.group-buy-list .item .name{color:#d33432;font-size:1.5em;font-weight:bold;}

.activity-list .item{float:left;width:100%;padding:10px 0;border-top:1px dashed #999;}
.activity-list .item.first{border-top-width:0}
.activity-list dl.table dt{color:#4d4f4f}
.activity-list dl.table dd{padding:3px 10px 3px 150px;}
.activity-list dd.name{color:#027b98;font-size:1.5em;font-weight:bold;}
.activity-list .user-rank em{padding-right:5px;color:#027b98;font-size:1.2em;font-weight:bold;}
.activity-list .number{position:absolute;top:0;right:0;padding:5px 10px;color:#fff;font-size:2em;font-weight:bold;background-color:#027b98;}


.quotation form{padding:50px 0;text-align:center;}
.myship form{padding:5px;background-color:#eee;border:1px solid #ccc;}
.myship form select{margin-right:5px;}
.myship-list{width:100%;margin-top:10px;}
.myship-list .name{color:#027b98;font-weight:bold;}
.wholesale h4{padding:5px;margin-bottom:10px;color:#000;font-size:1.2em;font-weight:bold;background:#ddd;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #999;border-bottom:1px solid #999;}
.wholesale h4 a{padding-left:10px;color:#d33432;font-size:12px;font-weight:bold;}
.wholesale table{margin-bottom:10px;}
.wholesale .submit-order{margin-bottom:10px;}
.wholesale .submit-order p{color:#027b98;font-size:1.2em;font-weight:bold;line-height:1.5em;}
.wholesale .submit-order textarea{display:block;float:left;width:85%;}
.wholesale .submit-order .action{display:block;float:right;width:10%;padding-top:20px;}
.wholesale .submit-order .button{font-size:1.4em;}
.wholesale .photo{display:block;width:160px;height:160px;padding:2px;margin:0 auto;}
.wholesale .name{display:block;padding:2px;color:#027b98;font-size:1.2em;text-align:center;}
.wholesale .table{margin-bottom:10px;}
.wholesale .number{margin-bottom:10px;}
.pick-out a{display:inline-block;padding:2px 5px;margin:0 3px 3px 0;background:#fff;border-width:1px;border-style:solid;border-color:#eee #ccc #ccc #eee;}
.pick-out a:hover{color:#fff;text-decoration:none;background:#d33432;border:1px solid #d33432;}
.your-choose p{padding-top:10px;}
.your-choose p.first{padding-top:0;}
.your-choose p strong{color:#027b98;font-size:1.2em;font-weight:bold;}
.tags-cloud a{display:inline-block;padding:4px 5px;margin:0 3px 3px 0;line-height:16px;background-color:#fff;border-width:1px;border-style:solid;border-color:#eee #ccc #ccc #eee;}
.tags-cloud a.drop{padding:0;margin-right:10px;color:#d33432;vertical-align:text-top;background-color:transparent;border-width:0;}
.tags-cloud a:hover{color:#fff;text-decoration:none;background:#d33432;border:1px solid #d33432;}
.tags-cloud a b{font-size:1.2em;}
.tags-cloud .text{padding-bottom:20px;line-height:1.2em;}
.brand-intro h1{padding:5px 0;color:#d33432;font-size:16px;font-weight:700;border-bottom:1px dashed #999;}
.brand-intro .logo{display:block;float:left;margin-top:10px;width:160px;padding:10px 20px;}
.brand-intro .logo img{width:150px;}
.brand-intro .info{float:left;margin-top:10px;width:520px;}
.brand-intro .info.single{display:inline;width:710px;margin-left:10px;}
.brand-intro .info a{padding-right:5px;}
.brand-list img{width:150px;}
.brand-list li{display:block;float:left;width:202px;height:60px;padding:20px;text-align:center;}
.brand-list .logo{display:block;width:175px;color:#d33432;line-height:60px;font-size:16px;font-weight:bold;}
.brand-list .name{display:block;width:175px;color:#027b98;height:20px;line-height:20px;}
.cat-list{margin:10px 0;}
.cat-list .content{padding:10px;}
.cat-list dt{display:block;clear:both;color:#368;font-size:1.3em;font-weight:bold;line-height:1.5em;border-bottom:1px dashed #999;}
.cat-list dt a{color:#368;}
.cat-list dd{float:left;padding:7px 5px 0 5px;}
.cat-list dd.mother{font-size:1.2em;}
.cat-list dd a{display:block;float:left;padding:0 7px 7px 0;white-space:nowrap;}
.article h1{margin-bottom:10px;padding:10px 0;color:#027b98;font-size:1.5em;border-bottom:1px dashed #999;}
.article .author{float:right;margin-top:-2em;}
.article .text{display:block;padding:5px;font-size:1.2em;line-height:1.4em;}
.article .text h2{margin:5px 0;padding:5px 10px;color:#444;font-size:1.2em;text-shadow:0 1px 1px #ccc;background-color:#ddd;}
.article .download{display:inline-block;padding:0 20px 0 10px;line-height:28px;font-size:14px;font-weight:bold;text-shadow:1px 1px 0 #ccc;background:#eee url(../img/icon.gif) no-repeat 75px -140px;border:1px solid #999;}
.article .nearby{margin-top:10px;padding:5px 0;line-height:18px;border-top:1px dashed #999;}
.article .nearby .next{float:right;}
.article-search{padding-bottom:10px;text-align:right;}
.article-search .button{margin-right:0;}
.articles-list{background:#fff;}
.articles-list li{padding:3px 6px;font-size:1.2em;line-height:1.5em;background-color:#f3f3f3;}
.articles-list li span{display:block;float:left;}
.articles-list li .title{width:70%}.articles-list li .author{width:15%}.articles-list li .time{width:15%}
.articles-list li.head{margin-bottom:3px;color:#444;font-weight:bold;background-color:#fff;border-bottom:1px dashed #888;}
.articles-list li.even{background-color:transparent;}
.articles-list li:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.articles-list li{display:inline-block}* html .articles-list li{height:1%}.articles-list li{display:block}
.topic h1{margin-bottom:10px;padding:10px 0;color:#027b98;font-size:1.5em;border-bottom:1px dashed #999;}
.topic .text{font-size:1.2em;line-height:1.4em;}
.topic .text h2{margin:5px 0;padding-left:.5em;color:#0a263c;font-size:1.2em;line-height:1.4em;text-shadow:0 1px 1px #ccc;background-color:#d9e5ee;}
.topic h3{margin-top:20px;clear:both;}


/* =flow */
.flow-bar{height:40px;margin:10px auto 20px;background:url(../img/flow-bar.gif) no-repeat center 0;}
.step2{background-position:center -100px;}
.step3{background-position:center -200px;}
.step4{background-position:center -300px;}

.flow-wrap .box .hd{height:30px;padding-right:10px;line-height:30px;background-color:transparent;border-width:0;}
.flow-wrap .box .hd h3{padding:0 10px 0 21px;color:#fff;font-size:14px;font-weight:bold;text-shadow:1px 1px 0 #333;background:#696a6a url(../img/box-onhd-bg.gif) repeat-x 0 0;}
.flow-wrap .box .hd .more{color:#fff;right:20px;}
.flow-wrap .box .bd{padding:10px;background-color:transparent;border-width:0;}
.flow-wrap .box .bt{display:none;}
.flow-wrap .box .tp{display:block;height:30px;margin-bottom:-30px;overflow:hidden;position:relative;background:url(../img/box-onhd-bg.gif) no-repeat -5px -80px;}
.flow-wrap .box .tp b{float:right;height:30px;width:10px;background:url(../img/box-onhd-bg.gif) no-repeat 0 -40px;}
.flow-wrap .box h4{padding:8px 10px;color:#027b98;font-size:1.2em;text-shadow:0 1px 1px #ccc;}
.flow-wrap .box .form h4{padding:0;margin:0 0 .6em;color:#d33432;font-size:18px;}
.flow-wrap .box .content{padding:0;border-width:0;}
.flow-wrap .form label b, .user .form .label b{width:12em;}
.flow-wrap .form div.submit-wrap{padding:5px 0 5px 12em}
.flow-wrap .form label .directions{margin-left:12em;}
.flow-wrap .form label select{width:auto}
.cart-list .content{padding-right:10px;}
.cart-list .photo{display:block;text-align:center;}
.cart-list .photo img{height:100px;width:100px;}
.cart-list .name{display:block;padding:2px;color:#027b98;font-size:1.2em;text-align:center;}
.cart-list .accessories, .cart-list .largess, .cart-list .free-goods{display:block;padding:2px;color:#d33432;font-size:1.2em;text-align:center;}
.cart-list .package-list{text-align:center;}
.cart-list .subtotal{font-size:1.2em;}
.cart-list .act{text-align:right;}
.cart-list .act p{padding-top:10px;}

.cart-list .info{padding:10px;font-size:1.2em;line-height:1.4em;text-align:right;}

.flow-wrap .collection-list .goods-list li{display:inline;padding:12px;width:199px;margin:0 0 10px 10px;line-height:1.5em;border:1px dashed #999;}
.flow-wrap .collection-list .goods-list li.first-child{margin-left:0;}
.flow-wrap .collection-list .button{margin-right:2px;margin-bottom:3px;padding:2px 4px;}
.flow-wrap .collection-list .drop{position:absolute;top:5px;right:5px;}

.fittings-list .goods-list li{padding:15px;}
.fittings-list .goods-list .parent{display:block;padding:3px 0;font-size:10px;}

.consignee-list form{margin-bottom:10px;}
.flow-wrap .view{padding-right:10px;background:url(../img/icon.gif) no-repeat right -146px;}

.order-total{padding:10px;font-size:1.2em;line-height:1.3em;text-align:right;}
.order-total .total-fee{padding-top:10px;font-size:1.3em;text-align:center;}
.checkout-submit{padding:10px;font-size:1.4em;text-align:center;}

.flow-action{display:inline-block;width:100%;padding:10px 0 30px;}
.flow-action .next{float:right;margin-right:385px;}
.flow-action .back{float:right;margin-right:20px;line-height:40px;font-size:16px;}


#slide{position:relative;width:530px;height:120px;overflow:hidden;margin-bottom:10px;}
#slide-item img{width:530px;height:120px;}
#slide-triggers{height:18px;padding-top:2px;position:absolute;bottom:5px;right:5px;z-index:10;}
#slide-triggers a{float:left;height:16px;width:16px;color:#d33432;cursor:pointer;font-size:11px;line-height:16px;margin-left:3px;text-align:center;background-color:#fcf2cf;border:1px solid #d33432;}
#slide-triggers .current{height:18px;width:18px;margin-top:-2px;background-color:#d33432;color:#fff;font-weight:bold;line-height:18px;}


#fancybox-loading{position:fixed;top:50%;left:50%;height:40px;width:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none;}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url(../img/fancybox/fancybox.png);}
#fancybox-overlay{position:fixed;top:0;left:0;bottom:0;right:0;background:#000;z-index:1100;display:none;}
#fancybox-tmp{border:0;overflow:auto;display:none;margin:0;padding:0;}
#fancybox-wrap{position:absolute;top:0;left:0;z-index:1101;display:none;margin:0;padding:20px;}
#fancybox-outer{position:relative;width:100%;height:100%;background:#FFF;}
#fancybox-inner{position:absolute;top:0;left:0;width:1px;height:1px;outline:none;overflow:hidden;margin:0;padding:0;}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background-image:url(../img/fancybox/fancybox.png);background-position:-40px 0;cursor:pointer;z-index:1103;display:none;}
#fancybox_error{color:#444;font:normal 12px/20px Arial;margin:0;padding:7px;}
#fancybox-content{height:auto;width:auto;margin:0;padding:0;}
#fancybox-img{width:100%;height:100%;border:none;outline:none;line-height:0;vertical-align:top;-ms-interpolation-mode:bicubic;margin:0;padding:0;}
#fancybox-frame{position:relative;width:100%;height:100%;border:none;display:block;}
#fancybox-title{position:absolute;bottom:0;left:0;font-family:Arial;font-size:12px;z-index:1102;}
.fancybox-title-inside{text-align:center;color:#333;padding:10px 0;}
.fancybox-title-outside{padding-top:5px;color:#FFF;text-align:center;font-weight:700;}
.fancybox-title-over{color:#FFF;text-align:left;}
#fancybox-title-over{background-image:url(../img/fancybox/fancy_title_over.png);display:block;padding:10px;}
#fancybox-title-wrap{display:inline-block;}
#fancybox-title-wrap span{height:32px;float:left;}
#fancybox-title-left{padding-left:15px;background-image:url(../img/fancybox/fancybox.png);background-position:-40px -90px;background-repeat:no-repeat;}
#fancybox-title-main{font-weight:700;line-height:29px;background-image:url(../img/fancybox/fancybox-x.png);background-position:0 -40px;color:#FFF;}
#fancybox-title-right{padding-left:15px;background-image:url(../img/fancybox/fancybox.png);background-position:-55px -90px;background-repeat:no-repeat;}
#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;outline:none;background-image:url(../img/fancybox/blank.gif);z-index:1102;display:none;}
#fancybox-left{left:0;}
#fancybox-right{right:0;}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block;}
#fancybox-left-ico{background-image:url(../img/fancybox/fancybox.png);background-position:-40px -30px;}
#fancybox-right-ico{background-image:url(../img/fancybox/fancybox.png);background-position:-40px -60px;}
#fancybox-left:hover,#fancybox-right:hover{visibility:visible;}
#fancybox-left:hover span{left:20px;}
#fancybox-right:hover span{left:auto;right:20px;}
.fancy-bg{position:absolute;border:0;width:20px;height:20px;z-index:1001;margin:0;padding:0;}
#fancy-bg-n{top:-20px;left:0;width:100%;background-image:url(../img/fancybox/fancybox-x.png);}
#fancy-bg-ne{top:-20px;right:-20px;background-image:url(../img/fancybox/fancybox.png);background-position:-40px -162px;}
#fancy-bg-e{top:0;right:-20px;height:100%;background-image:url(../img/fancybox/fancybox-y.png);background-position:-20px 0;}
#fancy-bg-se{bottom:-20px;right:-20px;background-image:url(../img/fancybox/fancybox.png);background-position:-40px -182px;}
#fancy-bg-s{bottom:-20px;left:0;width:100%;background-image:url(../img/fancybox/fancybox-x.png);background-position:0 -20px;}
#fancy-bg-sw{bottom:-20px;left:-20px;background-image:url(../img/fancybox/fancybox.png);background-position:-40px -142px;}
#fancy-bg-w{top:0;left:-20px;height:100%;background-image:url(../img/fancybox/fancybox-y.png);}
#fancy-bg-nw{top:-20px;left:-20px;background-image:url(../img/fancybox/fancybox.png);background-position:-40px -122px;}



#speDiv{height:260px;width:300px;padding:20px;}
#speDiv #fancybox-inner{position:absolute;top:10px;left:10px;height:240px;width:280px;overflow:auto;}
#speDiv #fancybox-title{display:block;width:300px;bottom:-37px;}
#speDiv label{display:block;padding:2px 10px;}
#speDiv label em{padding-left:10px;color:#d33432;}
#speDiv h6{padding:5px 10px;color:#fff;font-size:14px;font-weight:bold;text-shadow:1px 1px 0 #333;background:#696a6a url(../img/box-onhd-bg.gif) repeat-x 0 0;}
#speDiv .buy{margin:10px 0 0 110px;}

#logo{float:left;margin:15px 10px;font-size:3em;font-weight:bold;}
.nav-top{float:none;padding:10px 0 50px;text-align:right;}
.nav-top a{padding:0 10px;background:url(../img/icon.gif) no-repeat 0 -58px;}
.nav-top a.first{background-position:-999em 0;}

.top-bar{height:81px;clear:both;background:#7cdbf2 url(../img/header-bg.gif) repeat-x left -80px;position:relative;}
.top-bar .left{display:block;float:left;height:81px;width:6px;background:url(../img/header-bg.gif) no-repeat left -180px;}
.top-bar .right{display:block;float:right;height:81px;width:6px;background:url(../img/header-bg.gif) no-repeat right -180px;}

.nav{width:940px;position:absolute;left:0;top:-32px;}
.nav ul{float:right;}
.nav li{float:left;margin-left:3px;padding-top:4px;}
.nav li a{display:block;float:left;padding-left:16px;font-size:14px;line-height:14px;text-shadow:0 1px 1px #aaa;background:#f0f3f4 url(../img/header-bg.gif) no-repeat left -40px;}
.nav li a span{display:block;padding:8px 16px 6px 0;background:url(../img/header-bg.gif) no-repeat right -40px;}
.nav li a:link, .nav li a:visited{color:#6c7072;}
.nav li a:hover{color:#d33432;text-decoration:none;}
.nav li.current{padding-top:0;}
.nav li.current a{margin-bottom:-2px;position:relative;z-index:10;color:#fafcfd;font-size:16px;font-weight:bold;line-height:16px;background:#7cdbf2 url(../img/header-bg.gif) no-repeat left top;}
.nav li.current span{padding:10px 16px 8px 0;background:url(../img/header-bg.gif) no-repeat right top;}


#search{display:block;float:left;position:absolute;top:9px;left:10px;}
#search span{font-size:12px;}
#search select{margin:0;vertical-align:middle;}
#search input{width:160px;margin:0;vertical-align:middle;}
#search .submit{height:23px;width:30px;margin-left:3px;text-indent:-999em;background:#7f7f7f url(../img/header-bg.gif) no-repeat -100px -180px;border-width:0;}
#search .submit:hover{background:#9f9f9f url(../img/header-bg.gif) no-repeat -140px -180px;}
#search a{margin-left:10px;padding-left:5px;padding-right:10px;font-weight:bold;background:url(../img/icon.gif) no-repeat right -146px;border-left:1px dotted #777;}

.member{float:right;width:400px;padding:15px 10px;font-size:14px;text-align:right;position:absolute;top:0;right:0;}
.member em{font-weight:bold;}
.member a{margin-right:5px;padding:0 10px 0 5px;font-weight:bold;background:url(../img/icon.gif) no-repeat right -144px;}

.cart{float:right;position:absolute;top:47px;right:5px;}
.cart a{display:block;height:30px;padding-left:40px;line-height:30px;font-size:14px;text-decoration:none;background:#d7d8d9 url(../img/header-bg.gif) no-repeat left -280px;text-shadow:0 1px 0 #fff;}
.cart a span{display:block;height:30px;padding-right:20px;background:url(../img/header-bg.gif) no-repeat right -320px;cursor:pointer;}
.cart em{color:#d33432;}

.hot-keyword{float:left;width:600px;position:absolute;top:55px;left:10px;line-height:1.2em;}
.hot-keyword em{padding:3px 0px;font-weight:bold;}
.hot-keyword a{margin-right:10px;padding:3px 0;border-bottom:1px dotted #ccc;}

.breadcrumb{float:left;width:600px;padding:5px 0 5px 10px;}
.breadcrumb em{padding:3px 0px;color:#333;font-weight:bold;}
.breadcrumb code{padding:3px 0px;}
.breadcrumb a{padding:3px 6px;}
.breadcrumb a:hover{color:#fff;background-color:#999;}

/* =footer */

.search-bottom{text-align:center;}
.search-bottom select{margin:0;vertical-align:middle;}
.search-bottom .keyword{width:160px;margin:0;vertical-align:middle;}
.search-bottom .submit{height:23px;width:30px;margin-left:3px;text-indent:-999em;background:#7f7f7f url(../img/header-bg.gif) no-repeat -100px -220px;border-width:0;vertical-align:middle;}
.search-bottom .submit:hover{background:#9f9f9f url(../img/header-bg.gif) no-repeat -140px -220px;}
.search-bottom a{margin-left:10px;padding-left:5px;padding-right:10px;font-weight:bold;background:url(../img/icon.gif) no-repeat right -146px;border-left:1px dotted #777;}

.help dl{width:161px;float:left;margin-left:10px;padding:8px;}
.help dl.first{margin-left:0;}
.help dt{padding:6px 10px;margin-bottom:3px;font-size:14px;font-weight:bold;}
.help dd{padding:3px 10px 3px 20px;background:url(../img/icon.gif) no-repeat 12px 5px;}

.nav-bottom{padding:10px 0;text-align:center;}
.nav-bottom a{padding:0 9px;background:url(../img/icon.gif) no-repeat 0 -58px;}
.nav-bottom a.first{background-position:-999em 0;}
.copyright{color:#999;padding:10px 0 30px;text-align:center;text-shadow:0 1px 1px #ddd;}
.copyright a{color:#999;}
.copyright a:hover{color:#666;}
.category a:hover{text-decoration:underline;}
.category dl{width:100%;float:left;margin-bottom:5px;padding-bottom:5px;border-bottom:1px dashed #999;}
.category dl.last{border-bottom:none;margin-bottom:0;}
.category dt{line-height:24px;font-size:14px;font-weight:bold;}
.category dt a{color:#000;}
.category dt a:hover{color:#027b98;}
.category dd{display:block;float:left;padding-right:10px;line-height:18px;white-space:nowrap;}

.invoice-list .list{width:168px;float:left;border-bottom:1px dashed #aaa;padding:5px 0;line-height:18px;}
.invoice-list .last{border-bottom-width:0;margin-bottom:0;}
.invoice-list .title{display:block;float:left;width:50px;font-weight:bold;}
.invoice-list .data{display:block;float:left;width:106px;}
.invoice-list a{color:#027b98;font-weight:bold;}
.invoice-list a:hover{color:#d33432;text-decoration:underline;}
.subscription .bd{text-align:center;}
.subscription .input{width:150px;margin-bottom:10px;}
.subscription .btn-sec{margin-left:0px;}
.order-query form.main{text-align:center;}
.order-query .input{width:150px;margin-bottom:10px;}
.order-query .result{padding-top:5px;margin-top:5px;border-top:1px dashed #aaa;}
.order-query p{line-height:18px;}
.order-query p em{display:block;float:left;width:60px;font-weight:bold;}
.order-query p span{display:block;float:left;width:130px;}
.order-query p a{color:#027b98;font-weight:bold;}
.order-query p a:hover{color:#d33432;text-decoration:underline;}
.brands li{border-bottom:1px dashed #aaa;background-color:#fff;}
.brands li.last{border-bottom:none;}
.brands li a{display:block;padding:5px 0;}
.brands li img{width:100px;height:30px;padding-right:10px;vertical-align:middle;}
#history .more{cursor:pointer;}

.vote h4{color:#027b98;font-size:14px;line-height:18px;}
.vote span{display:block;padding-bottom:10px;}
.vote label{display:block;padding:2px 0;}
.vote .action{padding-top:10px;text-align:center;}

.shop-notice .bd{line-height:1.3em;}
.user-form{padding:30px 50px;font-size:1.2em;background:#fafafa;border:1px solid #d5d6d7;}
.user-form form{width:70%;float:left;position:relative;}
.user-form form h1{margin-bottom:20px;padding:5px 0 15px;color:#d33432;font-size:1.3em;font-weight:bold;border-bottom:1px dashed #d5d6d7;}
.user-form form div.req{font-size:.9em;position:absolute;top:.5em;right:2em;width:13em;text-align:right;}
.user-form form div.req b{color:#d33432;font-size:1.4em;}
.user-form form label, .user-form form .label{display:block;padding:5px 0;}
.user-form form label b{display:block;float:left;width:150px;line-height:23px;text-align:right;}
.user-form form .label b{display:block;float:left;width:150px;line-height:15px;text-align:right;}
.user-form form label b .req{padding-right:3px;color:#d33432;}
.user-form form label em{padding-left:10px;vertical-align:middle;}
.user-form form label em.status{color:#d33432;}
.user-form form label input{vertical-align:middle;}
.user-form form label img.captcha{vertical-align:middle;}
.user-form form .submit-wrap{padding:10px 0 20px 150px;}
.user-form form .submit{vertical-align:middle;}
.user-form fieldset.checkbox-wrap, .user-form fieldset.radio-wrap{margin:0;}
.user-form fieldset.checkbox-wrap label, .user-form fieldset.radio-wrap label{float:left;width:auto;border:none;margin:0;padding:2px 0;margin-right:15px}
.user-form label input.checkbox, .user-form label input.radio{width:auto;float:none;margin:0;margin-right:3px}
.user-form form .quick-buy{padding:0 10px 0 5px;font-weight:bold;vertical-align:text-top;background:url(../img/icon.gif) no-repeat right -144px;vertical-align:middle;}
.user-form .closed{display:block;padding:50px 0;color:#027b98;font-size:1.5em;font-weight:bold;text-align:center;}
.user-form .extra{width:27%;float:right;}
.user-form .extra h2{margin-bottom:20px;padding:5px 0 15px;font-size:1.3em;font-weight:bold;border-bottom:1px dashed #d5d6d7;}
.user-form .extra p{margin-bottom:5px;line-height:1.4em;}

.user h1{width:150px;height:30px;float:left;text-indent:-999em;background:url(../img/user-bg.gif) no-repeat -670px -150px;}
.user .menu{width:150px;float:left;margin-top:40px;margin-left:-150px;}
.user .menu li{width:150px;height:33px;position:relative;}
.user .menu li a{display:block;width:131px;height:36px;padding-left:20px;position:absolute;top:-2px;left:0;line-height:35px;font-size:14px;font-weight:bold;background:url(../img/user-bg.gif) no-repeat 0 -150px;text-shadow:1px 1px 1px #ccc;z-index:20;}
.user .menu li.current a{color:#d33432;background:url(../img/user-bg.gif) no-repeat -160px -150px;}
.user .main-wrap{width:740px;float:right;position:relative;padding:25px 24px 50px 34px;border:1px solid #d5d6d7;}
.user .main-wrap .top{display:block;width:800px;height:30px;overflow:hidden;position:absolute;top:-1px;left:-1px;z-index:1;background:url(../img/user-bg.gif) no-repeat 0 0;}
.user .main-wrap .bottom{display:block;width:800px;height:100px;overflow:hidden;position:absolute;bottom:-1px;left:-1px;z-index:1;background:url(../img/user-bg.gif) no-repeat 0 -40px;}
.user .main-wrap .body{min-height:450px;position:relative;z-index:10;}


.user .box .hd{height:30px;padding-right:10px;line-height:30px;background-color:transparent;border-width:0;}
.user .box .hd h3{padding:0 10px;color:#fff;font-size:14px;font-weight:bold;text-shadow:1px 1px 0 #333;background:#696a6a url(../img/box-onhd-bg.gif) repeat-x 0 0;}
.user .box .hd .more{color:#fff;right:20px;}
.user .box .bd{padding:10px 10px 10px 0;background-color:transparent;border-width:0;}
.user .box .bt{display:none;}
.user .box .tp{display:block;height:30px;margin-bottom:-30px;overflow:hidden;position:relative;background:url(../img/box-onhd-bg.gif) no-repeat -11px -40px;}
.user .box .tp b{float:right;height:30px;width:10px;background:url(../img/box-onhd-bg.gif) no-repeat 0 -40px;}


.user .box h4{padding:8px 10px;color:#027b98;font-size:1.2em;text-shadow:0 1px 1px #ccc;}
.user .box .form h4{padding:0;margin:0 0 .6em;color:#d33432;font-size:18px;}
.user .box .content{padding:0;border-width:0;}
.user .form label b, .user .form .label b{width:12em;}
.user .form div.submit-wrap{padding:5px 0 5px 12em}
.user .form label .directions{margin-left:12em;}
.user .form label select{width:auto;}

.user .info-center{margin-bottom:10px;padding:5px 10px;font-size:1.2em;line-height:1.4em;}
.user .info-center .hello{margin-bottom:10px;font-size:1.3em;font-weight:bold;}
.user .info-center .hello em{padding-left:5px;color:#d33432;}
.user .info-center .log em{padding-left:5px;font-weight:bold;}
.user .error a{padding-left:5px;font-size:1.3em;font-weight:bold;}
.user .your-account{width:360px;float:left;}
.user .your-notice{width:360px;float:left;margin-left:10px;}
.user .your-notice dl.text-list dd{padding-left:6px;}
.user .pagination{margin-bottom:10px;}
.user .tags-cloud{padding:10px;}
.user .collection-list .goods-list li{display:inline;padding:12px;width:206px;margin:0 0 10px 10px;line-height:1.5em;border:1px dashed #999;}
.user .collection-list .button{margin-right:2px;margin-bottom:3px;padding:2px 4px;}
.user .collection-list .drop{position:absolute;top:5px;right:5px;}
.user .affiliate-code label{display:block;padding-bottom:10px;}
.user .affiliate-code label input{width:20em;margin-left:5px;}
.user .affiliate-code table table, .user .affiliate-code table table tbody, .user .affiliate-code table table tr, .user .affiliate-code table table td, .user .affiliate-code table table th{background-color:transparent !important;border-width:0;}
.user .affiliate-code .item{padding-bottom:10px;}
.user .affiliate-code .item em{display:block;padding-bottom:5px;color:#027b98;font-size:1.2em;}
.user .affiliate-code .item a{display:block;padding-top:5px;}

.booking-list li{display:block;float:left;width:160px;padding:10px;margin:0 0 7px 6px;line-height:1.3em;background-color:#fff;position:relative;border:1px dashed #999;}
.booking-list li:hover{background-color:#eee;}
.booking-list li.hover{background-color:#eee;}
.booking-list li.first-child{clear:left;}
.booking-list span{display:block;}
.booking-list span em{padding:5px;}
.booking-list span.time em{color:#027b98;}
.booking-list span.desc em{color:#d33432;}
.booking-list .name{display:block;color:#000;}
.booking-list .name:hover{color:#027b98;font-weight:bold;}
.booking-list .button{margin-right:2px;margin-bottom:3px;padding:2px 4px;}
.booking-list .drop{position:absolute;top:5px;right:5px;}

.order-sn{font-weight:bold;}
.edit-password{margin-top:10px;}
.add-bonus{padding:10px;}
.merge-order{padding:10px;}
.merge-order p{padding-top:10px;color:#027b98;font-size:1.2em;line-height:1.3em;}
.other-payment{text-align:right;}
.funds .act{padding:5px 0;text-align:right;}
.funds .act .view{float:left;margin-right:10px;padding:0 10px 0 5px;line-height:30px;font-size:14px;font-weight:bold;vertical-align:text-top;background:url(../img/icon.gif) no-repeat right -139px;}

.banner{margin-bottom:10px;}