<!-- $Id: wxch_keywords.html 2013-10-16 09:59:06Z djks $ -->
{if $full_page}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 关键词自动回复 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/transport.js"></script><script type="text/javascript" src="js/common.js"></script>
</head>
<body>

<h1>
<span class="action-span"><a href="wxch_keywords.php?act=add&type=text">添加新规则</a></span>

<span class="action-span1"><a href="index.php?act=main">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 关键词自动回复 </span>
<div style="clear:both"></div>
</h1>
<script type="text/javascript" src="../js/utils.js"></script><script type="text/javascript" src="js/listtable.js"></script>

<div class="form-div">
  <form action="javascript:searchArticle()" name="searchForm" action="wxch_keywords.php" >
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    规则名称 <input type="text" name="keyword" id="keyword" />
    <input type="submit" value=" 搜索 " class="button" />
  </form>
</div>

<form method="POST" action="wxch_keywords.php?act=batch_remove" name="listForm">
<!-- start cat list -->
<div class="list-div" id="listDiv">
{/if}
<table cellspacing='1' cellpadding='3' id='list-table'>
  <tr>
    <th><a href="javascript:listTable.sort('title'); ">规则名称</a></th>
    <th><a href="javascript:listTable.sort('cat_id'); ">关键词(KEY值)</a></th>
    <th><a href="javascript:listTable.sort('article_type'); ">消息类型</a></th>
    <th><a href="javascript:listTable.sort('is_open'); ">推送量</a></th>
    <th><a href="javascript:listTable.sort('add_time'); ">状态</a></th>
    <th>操作</th>
  </tr>
   {foreach from=$wxchdata item=list}
    <tr>
    <td align="center" class="first-cell">
    <span onclick="javascript:listTable.edit(this, 'edit_title', {$list.id})">{$list.name} </span></td>
    <td align="center"><span>{$list.keyword}</span></td>
    <td align="center"><span>{$list.type_name}</span></td>
    <td align="center">{$list.count}</td>
    <td align="center"><span>
    <img src="images/{if $list.status eq 1}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_show', {$list.id})" /></span></td>
    <td align="center" nowrap="true"><span>
      <a href="wxch_keywords.php?act=edit{if $list.type eq 1}&type=text{else}&type=image{/if}&id={$list.id}" title="编辑"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>&nbsp;
     <!--  --><a href="javascript:;" onclick="listTable.remove({$list.id}, '您确认要删除这个规则吗？')" title="移除"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a><!--  --></span>
    </td>
   </tr>
    {/foreach}
     <tr>&nbsp;
    <td align="right" nowrap="true" colspan="8">      <!-- $Id: page.htm 14216 2008-03-10 02:27:21Z testyang $ -->
            <div id="turn-page">
        总计  <span id="totalRecords">{$filter.record_count}</span>
        个记录分为 <span id="totalPages">{$filter.page_count}</span>
        页当前第 <span id="pageCurrent">{$filter.page}</span>
        页，每页 <input type='text' size='3' name="page_size" id='pageSize' value="{$filter.page_size}" onkeypress="return listTable.changePageSize(event)" />
        <span id="page-link">
          <a href="javascript:listTable.gotoPageFirst()">第一页</a>
          <a href="javascript:listTable.gotoPagePrev()">上一页</a>
          <a href="javascript:listTable.gotoPageNext()">下一页</a>
          <a href="javascript:listTable.gotoPageLast()">最末页</a>
          <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
              {create_pages count=$filter.page_count page=$filter.page}
          </select>
      </div>
</td>
  </tr>
</table>

{if $full_page}
</div>
</form>
<!-- end cat list -->
<script type="text/javascript" language="JavaScript">
    listTable.recordCount = {$filter.record_count};
    listTable.pageCount = {$filter.page_count};
    var page_size   = {$filter.page_size};

    listTable.filter.type = 'keyword';
    listTable.filter.pagesize = '{$filter.page_size}';
    listTable.filter.record_count = '{$filter.record_count}';
    listTable.filter.page = '{$filter.page}';
    listTable.filter.page_count = '{$filter.record_count}';
    listTable.filter.start = '{$filter.start}';
    

  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
	/**
   * @param: bool ext 其他条件：用于转移分类
   */
  function confirmSubmit(frm, ext)
  {
      if (frm.elements['type'].value == 'button_remove')
      {
          return confirm(drop_confirm);
      }
      else if (frm.elements['type'].value == 'not_on_sale')
      {
          return confirm(batch_no_on_sale);
      }
      else if (frm.elements['type'].value == 'move_to')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['target_cat'].value != 0;
      }
      else if (frm.elements['type'].value == '')
      {
          return false;
      }
      else
      {
          return true;
      }
  }
	 function changeAction()
  {
		
      var frm = document.forms['listForm'];

      // 切换分类列表的显示
      frm.elements['target_cat'].style.display = frm.elements['type'].value == 'move_to' ? '' : 'none';

      if (!document.getElementById('btnSubmit').disabled &&
          confirmSubmit(frm, false))
      {
          frm.submit();
      }
  }

 /* 搜索规则 */
 function searchArticle()
 {
    listTable.filter.keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter.page = 1;
    listTable.loadList();
 }

 
</script>
{include file="pagefooter.htm"}
{/if}